# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
rasa_env/
.venv/
env/

# RASA
.rasa/
models/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset temporary files
*.tmp